<%- layout('layout.ejs') %>

<!------------------  sidenav  ------------------------->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!------------------  query form  ------------------------->
    <div>
        <form method="POST" action="/map">
            <div class="form-group">
                <input type="text" class="form-control" name="city" value="<%if (qry && qry.city) { %><%= qry.city %><% } %>" placeholder="Ciudad" list="datalist" onkeyup="ac(this.value)"> 
                <datalist id="datalist"> 
                    <% for(var i=0; i < location.length; i++) {%>
                        <option value=<%= location[i] %>></option>
                    <% } %>
                </datalist> 
            </div>
            <div class="form-group">
                <input type="number" min="0" max="20" class="form-control" name="bath" value="<%if (qry && qry.bathroomNumber) { %><%= qry.bathroomNumber %><% } %>" placeholder="Nº Baños">
            </div>
            <div class="form-group">
                <input type="number" min="0" max="20" class="form-control" name="bed" value="<%if (qry && qry.bedroomNumber) { %><%= qry.bedroomNumber %><% } %>" placeholder="Nº Habitaciones">
            </div>
            <div class="form-group">
                <input type="number" min="0" step="10000" class="form-control" name="price_min" placeholder="Precio minimo">
            </div>
            <div class="form-group">
                <input type="number" min="0" step="10000" class="form-control" name="price_max" placeholder="Precio maximo">
            </div>
            <div class="form-group">
                <select name="type" class="form-control">
                    <%if (qry && qry.propertyType === "house") { %>
                        <option value="<%= qry.propertyType %>" selected="true">Casa</option>
                        <option value="flat">Piso</option>
                        <option value="property">Propiedad</option>
                        <option value="allTypes">Todas</option>
                    <% }else if(qry && qry.propertyType === "flat"){ %>
                        <option value="house">Casa</option>
                        <option value="<%= qry.propertyType %>" selected="true">Piso</option>
                        <option value="property">Propiedad</option>
                        <option value="allTypes">Todas</option>
                    <% }else if(qry && qry.propertyType === "property"){ %>
                        <option value="house">Casa</option>
                        <option value="flat">Piso</option>
                        <option value="<%= qry.propertyType %>" selected="true">Propiedad</option>
                        <option value="allTypes">Todas</option>
                    <% }else{ %>
                        <option selected="true" disabled="disabled">Tipo de vivienda</option>
                        <option value="house">Casa</option>
                        <option value="flat">Piso</option>
                        <option value="property">Propiedad</option>
                    <% } %>
                </select>
            </div>
            <div class="form-group"></div>
                <input type="submit" class="btn btn-info form-control" value="Buscar" >
            </div>
        </form>
        <!------------------  recharge form  ------------------------->
        <div>
            <form method="POST" action="/map">      
                <div class="form-group">
                    <input type="hidden" name="recharge" value="1">
                    <input type="hidden" name="city" value="<%if (qry && qry.city) { %><%= qry.city %><% } %>">
                    <input type="hidden" name="bath" value="<%if (qry && qry.bathroomNumber) { %><%= qry.bathroomNumber %><% } %>">
                    <input type="hidden" name="bed" value="<%if (qry && qry.bedroomNumber) { %><%= qry.bedroomNumber %><% } %>">
                    <input type="hidden" name="type" value="<%if (qry && qry.propertyType) { %><%= qry.propertyType %><% } %>">
                    <input style="margin-top:2px" type="submit" class="btn btn-warning form-control" value="Recarga" >
                </div>
            </form>
        </div>
    </div>
</div>

<!------------------  map  ------------------------->
<div id="floating-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
</div>
<div id="map"></div>


<script src="/lib/dataclass.js"></script>
<script src="/lib/mapclass.js"></script>
<script>

    function initMap()  {
            
        let err = <%= error %>;
        let arr = <%- JSON.stringify(array) %>;
        

        let mid = <%- JSON.stringify(middle) %>;
        let zu = <%= zum %>;
        const map = new Mapa(mid,zu,"map",err,arr);

    }
    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWCBKeYffwpA8RH0d8wUmI9i01Cf0Gr3o&callback=initMap" async defer></script>
    
<!------------------  autocomplete  ------------------------->  

<script type="text/javascript"> 
    var tags = [];
    <% for(var i=0; i < location.length; i++) {%>
        tags.push("<%= location[i] %>");
    <% } %>

    var n= tags.length;     

    function ac(value) { 
        document.getElementById('datalist').innerHTML = ''; 
        l=value.length; 

        for (var i = 0; i<n; i++) { 
            if(((tags[i].toLowerCase()).indexOf(value.toLowerCase()))>-1) { 
                var node = document.createElement("option"); 
                var val = document.createTextNode(tags[i]); 
                node.appendChild(val); 

                document.getElementById("datalist").appendChild(node); 
            } 
        } 
    } 
</script> 

<!------------------  recarga  ------------------------->  

<script type="text/javascript"> 
    var tags = [];
    <% for(var i=0; i < location.length; i++) {%>
        tags.push("<%= location[i] %>");
    <% } %>

    var n= tags.length;     

    function ac(value) { 
        document.getElementById('datalist').innerHTML = ''; 
        l=value.length; 

        for (var i = 0; i<n; i++) { 
            if(((tags[i].toLowerCase()).indexOf(value.toLowerCase()))>-1) { 
                var node = document.createElement("option"); 
                var val = document.createTextNode(tags[i]); 
                node.appendChild(val); 

                document.getElementById("datalist").appendChild(node); 
            } 
        } 
    } 
</script> 



