<%- layout('layout.ejs') %>

<!------------------  sidenav  ------------------------->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div>
        <form method="POST" action="/map">
            <div class="form-group">
                <input type="text" class="form-control" name="city" placeholder="Ciudad" list="datalist" onkeyup="ac(this.value)"> 
                <datalist id="datalist"> 
                    <% for(var i=0; i < location.length; i++) {%>
                        <option value=<%= location[i] %>></option>
                    <% } %>
                </datalist> 
            </div>
            <div class="form-group">
                <input type="number" min="0" max="20" class="form-control" name="bath" placeholder="Nº Baños">
            </div>
            <div class="form-group">
                <input type="number" min="0" max="20" class="form-control" name="bed" placeholder="Nº Habitaciones">
            </div>
            <div class="form-group">
                <input type="number" min="0" class="form-control" name="price_min" placeholder="Precio minimo">
            </div>
            <div class="form-group">
                <input type="number" min="0" class="form-control" name="price_max" placeholder="Precio maximo">
            </div>
            <div class="form-group">
                <select name="type" class="form-control">
                    <option selected="true" disabled="disabled">Tipo de vivienda</option>
                    <option value="house">Casa</option>
                    <option value="flat">Piso</option>
                    <option value="property">Propiedad</option>
                </select>
            </div>
            <div class="form-group"></div>
                <input type="submit" class="btn btn-info form-control" value="Buscar" >
            </div>
        </form>
    </div>
</div>

<!------------------  error  -------------------------> 
<%if (error && error.code >= 1) { %>
<script>
    alert("<%= error.msg %>");
</script>
<% } %>

<!------------------  map  ------------------------->    
<div id="map"></div>
<script>
    var urls = [];
    var beds = [];
    var baths = [];
    var prices = [];
    var summarys = [];
    var types = [];
    var places = [];

    <% for(var i=0; i < array.length; i++) {%>
        var p = "<%= array[i].price %>";
        prices.push(p);
        urls.push("<%= array[i].listerUrl %>");
        beds.push("<%= array[i].bedroomNumber %>");
        baths.push("<%= array[i].bathroomNumber %>");
        summarys.push("<%= array[i].summary %>");
        types.push("<%= array[i].propertyType %>");
        var latitud = <%= array[i].latitude %>;
        var longitud = <%= array[i].longitude %>;
        var place = {lat: latitud, lng: longitud};
        places.push(place);
    <% } %>

    var lista = [];
    for(var i=0; i < prices.length; i++) {
        lista.push({
            'url' : urls[i],
            'price' : prices[i],
            'bed' : beds[i],
            'bath' : baths[i],
            'summary' : summarys[i],
            'place' : places[i],
        });
    } 

    lista.sort(function (a, b) {
        if (a.price > b.price) return 1;
        if (a.price < b.price) return -1;
        return 0;
    });

    for(var i=0; i < lista.length; i++) {
        prices[i]= lista[i].price;
        urls[i]= lista[i].url;
        beds[i]= lista[i].bed;
        baths[i]= lista[i].bath;
        summarys[i]= lista[i].summary;
        places[i]= lista[i].place;
    } 

    document.write(prices);

    var map;
    function initMap() {
        
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= middle.lat %>, lng: <%= middle.lng %>},
            zoom: <%= zum %>
        });

        var infowindow = new google.maps.InfoWindow();
        var colorRojo = "FE7569";
        var colorNaranja = "EEAC69";
        var colorAmarillo = "ECF361";
        var colorAzul = "61BAF3";
        var colorVerde = "5AB440";
        var rojo =      new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + colorRojo,
                        new google.maps.Size(21, 34),new google.maps.Point(0,0),new google.maps.Point(10, 34));
        var naranja =   new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + colorNaranja,
                        new google.maps.Size(21, 34),new google.maps.Point(0,0),new google.maps.Point(10, 34));
        var amarillo =  new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + colorAmarillo,
                        new google.maps.Size(21, 34),new google.maps.Point(0,0),new google.maps.Point(10, 34));
        var azul =      new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + colorAzul,
                        new google.maps.Size(21, 34),new google.maps.Point(0,0),new google.maps.Point(10, 34));
        var verde =     new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + colorVerde,
                        new google.maps.Size(21, 34),new google.maps.Point(0,0),new google.maps.Point(10, 34));
        var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
                        new google.maps.Size(40, 37),new google.maps.Point(0, 0),new google.maps.Point(12, 35));

        for(var j=0; j< places.length; j++){
            var tam = places.length/5;

            if(j < tam){
                var marker = new google.maps.Marker({
                    map: map,
                    position: places[j],
                    icon: rojo,
                    shadow: pinShadow
                });
            }else if(j < tam*2){
                var marker = new google.maps.Marker({
                    map: map,
                    position: places[j],
                    icon: naranja,
                    shadow: pinShadow
                });
            }else if(j < tam*3){
                var marker = new google.maps.Marker({
                    map: map,
                    position: places[j],
                    icon: amarillo,
                    shadow: pinShadow
                });
            }else if(j < tam*4){
                var marker = new google.maps.Marker({
                    map: map,
                    position: places[j],
                    icon: azul,
                    shadow: pinShadow
                });
            }else if(j < tam*5){
                var marker = new google.maps.Marker({
                    map: map,
                    position: places[j],
                    icon: verde,
                    shadow: pinShadow
                });
            }else{
                var marker = new google.maps.Marker({
                    map: map,
                    position: places[j],
                    icon: amarillo,
                    shadow: pinShadow
                });
            }
            

            google.maps.event.addListener(marker, 'click', (function (marker, j) {
                return function () {
                    var a = '<div align="center">'+
                                '<p>Tipo de vivienda: '+ types[j] + '</p>' +
                                '<p>Nº de Habitaciones: '+ beds[j] + '</p>' +
                                '<p>Nº de Baños: '+ baths[j] + '</p>' +
                                '<p>Precio: '+ prices[j] + '€</p>' +
                                '<p>Descripcion: '+ summarys[j] + '</p>' +
                                '<a href="'+ urls[j] + '" target="_blank">Ver más información</a>' +
                            '</div>';
                    infowindow.setContent(a);
                    infowindow.open(map, marker);
                }
            })(marker, j)); 
        } 
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWCBKeYffwpA8RH0d8wUmI9i01Cf0Gr3o&callback=initMap" async defer></script>
    
<!------------------  autocomplete  ------------------------->  

<script type="text/javascript"> 
    var tags = [];
    <% for(var i=0; i < location.length; i++) {%>
        tags.push("<%= location[i] %>");
    <% } %>

    var n= tags.length;     

    function ac(value) { 
        document.getElementById('datalist').innerHTML = ''; 
        l=value.length; 

        for (var i = 0; i<n; i++) { 
            if(((tags[i].toLowerCase()).indexOf(value.toLowerCase()))>-1) { 
                var node = document.createElement("option"); 
                var val = document.createTextNode(tags[i]); 
                node.appendChild(val); 

                document.getElementById("datalist").appendChild(node); 
            } 
        } 
    } 
</script> 