<%- layout('layout.ejs') %>

<!------------------  sidenav  ------------------------->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div>
        <form method="POST" action="/map">
            <div class="form-group">
                <input type="text" class="form-control" name="city" placeholder="Ciudad" list="datalist" onkeyup="ac(this.value)"> 
                <datalist id="datalist"> 
                    <% for(var i=0; i < location.length; i++) {%>
                        <option value=<%= location[i] %>></option>
                    <% } %>
                </datalist> 
            </div>
            <div class="form-group">
                <input type="number" min="0" max="20" class="form-control" name="bath" placeholder="Nº Baños">
            </div>
            <div class="form-group">
                <input type="number" min="0" max="20" class="form-control" name="bed" placeholder="Nº Habitaciones">
            </div>
            <div class="form-group">
                <input type="number" min="0" class="form-control" name="price_min" placeholder="Precio minimo">
            </div>
            <div class="form-group">
                <input type="number" min="0" class="form-control" name="price_max" placeholder="Precio maximo">
            </div>
            <div class="form-group">
                <select name="type" class="form-control">
                    <option selected="true" disabled="disabled">Tipo de vivienda</option>
                    <option value="house">Casa</option>
                    <option value="flat">Piso</option>
                    <option value="property">Propiedad</option>
                </select>
            </div>
            <div class="form-group"></div>
                <input type="submit" class="btn btn-info form-control" value="Buscar">
            </div>
        </form>
    </div>
</div>

<!------------------  map  ------------------------->    
<div id="map"></div>
<script>

    var urls = [];
    <% for(var i=0; i < array.length; i++) {%>
        urls.push("<%= array[i].listerUrl %>");
    <% } %>
    
    var map;
    function initMap() {
        var places = [];

        <% for(var i=0; i < array.length; i++) {%>
            var latitud = <%= array[i].latitude %>;
            var longitud = <%= array[i].longitude %>;
            var place = {lat: latitud, lng: longitud};
            places.push(place);
        <% } %>
        
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= middle.lat %>, lng: <%= middle.lng %>},
            zoom: <%= zum %>
        });

        var infowindow = new google.maps.InfoWindow();

        for(var j=0; j< places.length; j++){
            
            var marker = new google.maps.Marker({
                map: map,
                position: places[j],
                title: '250'
            });

            google.maps.event.addListener(marker, 'click', (function (marker, j) {
                return function () {
                    var a = '<a href="'+ urls[j] + '" target="_blank">Ver informacion</a>';
                    infowindow.setContent(a);
                    infowindow.open(map, marker);
                }
            })(marker, j)); 
        } 
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWCBKeYffwpA8RH0d8wUmI9i01Cf0Gr3o&callback=initMap" async defer></script>
    
<!------------------  autocomplete  ------------------------->  

<script type="text/javascript"> 
    var tags = [];
    <% for(var i=0; i < location.length; i++) {%>
        tags.push("<%= location[i] %>");
    <% } %>

    var n= tags.length;     

    function ac(value) { 
        document.getElementById('datalist').innerHTML = ''; 
        l=value.length; 

        for (var i = 0; i<n; i++) { 
            if(((tags[i].toLowerCase()).indexOf(value.toLowerCase()))>-1) { 
                var node = document.createElement("option"); 
                var val = document.createTextNode(tags[i]); 
                node.appendChild(val); 

                document.getElementById("datalist").appendChild(node); 
            } 
        } 
    } 
</script> 